
# Environment & secrets
# Local Data & Enviroments
*-service-account.json
*.db
*.log
.DS_Store
.env
.env.local
.env.production
.next/
.vercel
backend/database/
backend/venv/
build/
database/
dist/
node_modules/
venv/
zemaai-service-account.json
